<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Navbar</title>
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/navbar.css">
</head>
<body>
  <nav class="navbar">
    <div class="navbar-left">
      <span class="navbar-logo">ThemePark</span>
    </div>
    <div class="navbar-center">
      <a class="nav-link" href="../homepage.html" target="_parent">Home</a>
      <a class="nav-link" href="../packages.html" target="_parent">Packages</a>
    </div>
    <div class="navbar-right">
  <a href="https://facebook.com" target="_blank" class="navbar-social" title="Facebook" aria-label="Facebook">🌐</a>
  <a href="https://twitter.com" target="_blank" class="navbar-social" title="Twitter" aria-label="Twitter">🐦</a>
  <a href="https://instagram.com" target="_blank" class="navbar-social" title="Instagram" aria-label="Instagram">📸</a>
</div>
  </nav>
</body>
</html>